h1{
   font-family:Arial, Helvetica, sans-serif;
    color:black;
    height:100px ;
    width: 400px ;
    
}

.boton{
    border:40px rgb(51, 51, 177);
    padding: 30px;

}
body{
    background:#ebeaf1;
}

.Tres{
   display: flex;
   justify-content: center;
}
.Productos{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    
}

.tecnología{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
  
    }

.Investigación{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    
}
